* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background: #0c1821;
  font-family: "Press Start 2P", cursive;
}

#quiz {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quizContainer,
#end,
#question{
  display: none;
}

#start {
  color: #d5d2e2;
  text-align: center;
  border: 2px solid #5d5c64;
  padding: 3em;
  margin: 0;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
}

#start:hover {
  border: 2px solid #fff;
  color: #fff;
  text-shadow: 1px 1px #fff;
  transition: 0.5s ease;
  box-shadow: 20px#fff;
}

#question{
    background:hsla(0,0%,100%,0.9);
    padding:1em;
    position: fixed;
    width:100%;
    text-align: center;
    color: #000;
}
 

#choices {
  float: right;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.choice {
  position: relative;
  color: #fff;
  font-size: 14px;
  margin: 1em 2em;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 4em 6em;
  transition: 0.6s all ease;
  cursor: pointer;
}

#end{
    color:#fff;
    font-size:3em;
}

#retry > input{
    cursor: pointer;
    padding:1em 3em;
    color:#fff;
    font-size: 0.2em;
    margin:1em 0;
    border: 1px solid #fff;
    border-radius: 7px;
    font-weight: 600;
    transition: all 0.6s ease;
    outline:none;
}

#retry > input:hover{
    letter-spacing: 3px;
    font-weight: 900;
    border: 2px solid #fff;
}